section{
    width: 500px;
    height: 500px;
    border:2px solid black;
    position: relative;
    margin-left: 20rem;
}
.box{
    width:50px;
    line-height: 50px;
    background: orange;
    position: absolute;
    text-align: center;
    font-size: 20px;
}
button{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    color:white;
}
.lad1{
    width:80px;
    position: absolute;
    top: 24rem;
    left: 28rem;
}
.snake1{
    transform: rotate(340deg);
    left: 38rem;
    width: 120px;
    position: absolute;
    top: 10rem;
    height: 20rem;
}
.snake2{
    left: 31rem;
    width: 120px;
    position: absolute;
    top: 19rem;
    transform: rotate(43deg);
}
.snake3{
    left: 43rem;
    width: 120px;
    position: absolute;
    top: 2rem;
}
.lad2{
    width: 165px;
    position: absolute;
    top: 17rem;
    left: 40rem;
}
.snake4{
    left: 23rem;
    width: 120px;
    position: absolute;
    top: 1.8rem;
    transform: rotate(352deg);
    height: 25rem;
}
.lad3{
    width: 114px;
    position: absolute;
    top: 2rem;
    left: 27rem;
    transform: rotate(350deg)
}

